In [ ]:
from google.colab import drive
drive.mount('content/drive/')

In [1]:
!pwd

/content

In [2]:
%cd /content/sample_data

/content/sample_data

In [3]:
import pandas as pd
import numpy as np

In [4]:
data=pd.read_excel('titanic.xlsx')

In [5]:
data.head()

,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked,home.dest,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211000.3375,B5,S,"St Louis, MO",1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,"Montreal, PQ / Chesterville, ON",1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,"Montreal, PQ / Chesterville, ON",0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,"Montreal, PQ / Chesterville, ON",0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,"Montreal, PQ / Chesterville, ON",0

In [6]:
data['pclass'].value_counts()

pclass
3    709
1    323
2    277
Name: count, dtype: int64

In [7]:
data.shape

(1309, 12)

In [8]:
709+323+277

1309

In [9]:
toplam_yolcu_sayisi=data.shape[0]

In [10]:
t=0
for i in range(toplam_yolcu_sayisi):
  if data['pclass'][i] is None:
    t+=1

print(t)

0

In [11]:
t=0
for i in range(toplam_yolcu_sayisi):
  if np.isnan(data['pclass'][i]):
    t+=1

print(t)

0

In [12]:
zengin_kurtulan=0
for i in range(toplam_yolcu_sayisi):
  if data['pclass'][i]==1 and data['survived'][i]==1:
    zengin_kurtulan+=1

In [14]:
toplam_zengin=data['pclass'].value_counts().get(1)

In [17]:
len(np.where(data['pclass']==1)[0])

323

In [19]:
k=0
for i in range(toplam_yolcu_sayisi):
  if data['pclass'][i]==1:
    k+=1

print(k)

323

In [21]:
print(f'Zenginlerin yüzde {np.ceil(zengin_kurtulan/toplam_zengin*100)} ü kurtulmuştur')

Zenginlerin yüzde 62.0 ü kurtulmuştur

In [22]:
fakir_kurtulan=0
for i in range(toplam_yolcu_sayisi):
  if data['pclass'][i]==3 and data['survived'][i]==1:
    fakir_kurtulan+=1

In [23]:
toplam_fakir=data['pclass'].value_counts().get(3)

In [24]:
print(f'Fakirlerin yüzde {np.ceil(fakir_kurtulan/toplam_fakir*100)} ü kurtulmuştur')

Fakirlerin yüzde 26.0 ü kurtulmuştur

In [25]:
kadin_zengin_kurtulan=0
for i in range(toplam_yolcu_sayisi):
  if data['gender'][i]=='female' and data['pclass'][i]==1 and data['survived'][i]==1:
    kadin_zengin_kurtulan+=1

In [26]:
kadin_kurtulan

339

In [27]:
toplam_kadin=data['gender'].value_counts().get('female')

In [ ]:
k=0
for i in range(toplam_yolcu_sayisi):
  if data['gender'][i]=='female':
    k+=1

print(k)

In [28]:
print(f'Kadinlarin yüzde {np.ceil(kadin_kurtulan/toplam_kadin*100)} ü kurtulmuştur')

Kadinlarin yüzde 73.0 ü kurtulmuştur

In [31]:
print(f'Erkeklerin yüzde {np.ceil(erkek_kurtulan/toplam_erkek*100)} ü kurtulmuştur')

Erkeklerin yüzde 20.0 ü kurtulmuştur

In [29]:
erkek_kurtulan=0
for i in range(toplam_yolcu_sayisi):
  if data['gender'][i]=='male' and data['survived'][i]==1:
    erkek_kurtulan+=1

In [30]:
toplam_erkek=data['gender'].value_counts().get('male')

In [34]:
data['pclass'].corr(data['survived'],method='pearson')

-0.3124693626496761

Bu, bilet sinifi artarken yada başka bir deyişle fakirlik artarken, yaşama şansının azaldığını gösterir.

In [35]:
bilet_sinifi=np.array(data['pclass'])

In [36]:
bilet_sinifi.shape

(1309,)

In [37]:
bilet_sinifi=np.reshape(bilet_sinifi,(1309,1))

In [38]:
bilet_sinifi.shape #böylece sutun vektörü haline getirdik

(1309, 1)

In [39]:
bos=0
for i in range(toplam_yolcu_sayisi):
  if data['gender'][i] is None:
    bos+=1

print(bos)

0

In [41]:
cinsiyet=np.zeros(toplam_yolcu_sayisi)
for i in range(toplam_yolcu_sayisi):
  if data['gender'][i]=='male':
    cinsiyet[i]=1

In [ ]:
cinsiyet=np.zeros(toplam_yolcu_sayisi)
cinsiyet[np.where(data['gender']=='male')[0]]=1

In [42]:
cinsiyet=np.reshape(cinsiyet,(1309,1))

In [43]:
np.mean(data['age'])

29.35532189292543

In [52]:
makul_yaslar=[]
for i in range(toplam_yolcu_sayisi):
  if data['age'][i]>=1 and data['age'][i]<100:
    makul_yaslar.append(data['age'][i])

In [54]:
ort_yas=np.mean(makul_yaslar)

In [53]:
print(makul_yaslar[:10])

[29.0, 2.0, 30.0, 25.0, 48.0, 63.0, 39.0, 53.0, 71.0, 47.0]

In [57]:
not 30.0 in makul_yaslar

False

In [58]:
yaslar=np.zeros(toplam_yolcu_sayisi)
for i in range(toplam_yolcu_sayisi):
  if not data['age'][i] in makul_yaslar:
    yaslar[i]=ort_yas #yasta bir problem varsa
  else:
    yaslar[i]=data['age'][i]#yasta bir problem yoksa

In [59]:
yaslar=np.reshape(yaslar,(1309,1))

In [60]:
data['sibsp'].value_counts()

sibsp
 0     891
 1     317
 2      42
 4      22
 3      20
 8       9
 5       6
-3       1
 71      1
Name: count, dtype: int64

In [61]:
makul_kardes_sayilari=[0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0]

In [62]:
kardes=np.zeros(toplam_yolcu_sayisi)
for i in range(toplam_yolcu_sayisi):
  if not data['sibsp'][i] in makul_kardes_sayilari:
    kardes[i]=1.0 #kardeste bir problem varsa
  else:
    kardes[i]=data['sibsp'][i]#kardeste bir problem yoksa

In [63]:
kardes=np.reshape(kardes,(1309,1))

In [65]:
np.min(kardes)

0.0

In [66]:
data['parch'].corr(data['survived'],method='pearson')

0.08265957038609868

In [67]:
data['parch'].value_counts()

parch
0    1002
1     170
2     113
3       8
4       6
5       6
6       2
9       2
Name: count, dtype: int64

In [69]:
np.where(np.isnan(data['parch']))[0]

array([], dtype=int64)

In [70]:
cocuk=np.reshape(np.array(data['parch']),(toplam_yolcu_sayisi,1))

In [72]:
np.max(data['fare'])

211000.3375

In [73]:
kabul_edilen_max_fiyat=np.mean(data['fare'])+3*np.std(data['fare'])

In [74]:
print(kabul_edilen_max_fiyat)

17688.208147450336

In [75]:
ucret=np.zeros(toplam_yolcu_sayisi)
for i in range(toplam_yolcu_sayisi):
  if  data['fare'][i]>kabul_edilen_max_fiyat or data['fare'][i]<0:
    ucret[i]=np.mean(data['fare']) #kardeste bir problem varsa
  else:
    ucret[i]=data['fare'][i]#kardeste bir problem yoksa

In [76]:
ucret=np.reshape(ucret,(1309,1))

In [78]:
yasamis_mi=np.reshape(data['survived'],(1309,1))

In [79]:
temiz_veri=np.concatenate((bilet_sinifi,cinsiyet,yaslar,kardes,
                           cocuk,
                           ucret,
                           yasamis_mi),axis=1)

In [80]:
temiz_veri_df=pd.DataFrame(temiz_veri,
                           columns=['bilet_sinifi','cinsiyet',
                                    'yaslar',
                                    'kardes',
                                    'cocuk',
                                    'ucret',
                                    'yasamis_mi'])

In [81]:
temiz_veri_df.head(10)

   bilet_sinifi  cinsiyet     yaslar  kardes  cocuk       ucret  yasamis_mi
0           1.0       0.0  29.000000     0.0    0.0  194.449149         1.0
1           1.0       1.0  30.200871     1.0    2.0  151.550000         1.0
2           1.0       0.0   2.000000     1.0    2.0  151.550000         0.0
3           1.0       1.0  30.000000     1.0    2.0  151.550000         0.0
4           1.0       0.0  25.000000     1.0    2.0  151.550000         0.0
5           1.0       1.0  48.000000     0.0    0.0   26.550000         1.0
6           1.0       0.0  63.000000     1.0    0.0   77.958300         1.0
7           1.0       1.0  39.000000     0.0    0.0    0.000000         0.0
8           1.0       0.0  53.000000     2.0    0.0   51.479200         1.0
9           1.0       1.0  71.000000     0.0    0.0   49.504200         0.0

In [82]:
temiz_veri_df.to_excel('temiz_veri.xlsx', index=False)